<app-navbar2></app-navbar2>

<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">IMAGE</th>
        <th scope="col">CATEGORY</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">PRICE</th>
    

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data">
        <td>{{i.name}}</td>
        <td><img src="{{i.image}}" style="width:200px; height:auto;" ></td>

        <td>{{i.category}}</td>
        <td>{{i.description}}</td>
        <td>{{i.price}}</td>
  

      </tr>
    
    </tbody>
  </table> 
   -->
   <div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">          
                <div class="col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of data">
                    <div class="card" >
                        <img height="200px" class="card-img-top"  src="{{i.image}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">name:{{i.name}}</h5>
                          <p class="card-text">Category{{i.category}}</p>
                          <p class="card-text">description{{i.description}}</p>
                          <p class="card-text">price:{{i.price}}</p>
                          <a href="#" class="btn btn-primary">BUY NOW</a>


                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>
