<app-navbar1></app-navbar1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-4">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">NAME</label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="searchproduct()" class="btn btn-success">SUBMIT</button>
                </div>
            </div>
        </div>
        <div class="row g-3" *ngFor="let j of searchdata">
            <h1>product:</h1>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">NAME</label>
                <input type="text" class="form-control" value="{{j.name}}">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">IMAGE</label>
                <img src="{{j.image}}" style="width:200px; height:auto;" >
                        </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">CATEGORY</label>
                <input type="text" class="form-control" value="{{j.category}}">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">DESCRIPTION</label>
                <input type="text" class="form-control" value="{{j.description}}">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">PRICE</label>
                <input type="text" class="form-control" value="{{j.price}}">
            </div>
            
        </div>
    </div>
</div>