
<div class="container">
    <div class="row">
        <h1>WELCOME CUSTOMER </h1>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 c0l-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">User name</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Password</label>
                    <input name="password" [(ngModel)]="password" type="password" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button (click)="loginValues()" class="btn btn-success">LOGIN</button>
                </div>
                <a routerLink="/registration">User Registration</a>

            </div>

        </div>
    </div>
</div>